<div class="container">
    <br><br>
    <div class="text-center reg_msg">
        <h1><a href="/">Midnight Gallery</a></h1>
    </div>
   <br><br>
   <div class="banner-title text-center reg_msg">
        <h2 class="fancy"><span>Password Reset</span></h2>
   </div><br><br><br>

    <div class="row">
       
    <p> Hello. You have requested a password reset. Please click the following link to continue on with resetting your password. Please note this link is only valid for the next hour. <a href= "<%= resetURL%>" class="btn btn-success">Reset Link</a></p>
    
    </div>
</div>
